<style>
    input[type=submit],
    input[type=button] {
        text-align: center;
        background-color: rgba(9, 145, 0, 1.00);
        -webkit-box-shadow: 1px 1px 1px rgba(7, 124, 0, 1.00);
        box-shadow: 1px 1px 1px rgba(7, 124, 0, 1.00);
        border: 0px;
        min-width: 6vw;
        min-height: 2vw;
        line-height: 1.5vw;
        font-size: 1vw;
        color: white;
        cursor: pointer;
    }
    input[type=submit]:hover,
    input[type=button]:hover {
        background-color: rgba(7, 124, 0, 1.00);
    }
</style>
<div>
    <h2>Buttons</h2>
    <p>We currently only have one call to action button</p>
    <div class="code">
        input[type=submit], input[type=button] {
        <br/>text-align: center;
        <br/>background-color: rgba(9, 145, 0, 1.00);
        <br/>-webkit-box-shadow: 1px 1px 1px rgba(7, 124, 0, 1.00);
        <br/>box-shadow: 1px 1px 1px rgba(7, 124, 0, 1.00);
        <br/>border: 0px;
        <br/>min-width: 6vw;
        <br/>min-height: 2vw;
        <br/>line-height: 1.5vw;
        <br/>font-size: 1vw;
        <br/>color: white;
        <br/>cursor: pointer;
        <br/>}
        <br/>input[type=submit]:hover,
        <br/>input[type=button]:hover {
        <br/>background-color: rgba(7, 124, 0, 1.00);
        <br/>}
    </div>
    <input type=button value="Button" />
</div>