<div>
    <h2>Fonts</h2>
    <p>We use Roboto and Socialico webfonts</p>
    <br/>
    <span>The logo uses Roboto Thin</span>
    <h1 style="font-family: 'Roboto Thin'; display: inline-block; padding-left: 2%;">Math I/O</h1>
    <br/>
    <br/>
    <p>Body copy uses Roboto Light (like this current typeface)</p>
    <br/>
    <br/>
    <span>Navigation uses Roboto Regular</span>
    <nav style="display: inline-block; vertical-align: top;">
        <ul>
            <li style="font-family: 'Roboto'; list-style: none;">- Overview</li>
            <li style="font-family: 'Roboto'; list-style: none;">- Fonts</li>
            <li style="font-family: 'Roboto'; list-style: none;">- Colors</li>
        </ul>
    </nav>
    <br/>
    <br/>
    <p>Finally we use Socialico for social icons</p>
</div>